@font-face {
    font-family: " Arial";
    src: url("./webfont/sahel-font-v1.0.0-alpha14/Sahel-Black.eot"),
        url("./webfont/sahel-font-v1.0.0-alpha14/Sahel-Black.ttf");
}



.container {
    position: absolute;
    top: 14%;
    left: 24%;
    /* left:50% */
    width: 700px;
    height: 300px;
    background-color: rgb(255, 189, 7);
    display: flex;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
}

h1,
p {
    color: white;
    text-transform: uppercase;
    font-family: Arial;

}

p {
    font-size: 30px;
}

.btn-box {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    width: 100px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.btn {
    width: 120px;
    height: 43px;
    background-color: rgb(255, 197, 7);
    color: white;
    border: 1px solid white;
    margin: 0 14px;
}